pandas
langchain
langchain-core
langchain-chroma
langchain-community
sentence-transformers
chromadb
requests
python-dotenv
langchain-huggingface
fastapi
uvicorn
python-multipart
websockets
pydub
audioop-lts
